.AppHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
  width: 100%;
  height: min(40vmin, 100px);
  @media only screen and (max-width: 400px) {
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 2px #bfbfbf solid;
  }

  .LeftSideOfNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    .AppLogo {
      height: clamp(25px, 6vmax, 100px);
      pointer-events: none;
    }
    @media (prefers-reduced-motion: no-preference) {
      .AppLogo {
        animation: App-logo-spin infinite 20s linear;
      }
    }
    .TopNav {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2vw;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
