.Editor {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1vh;
  .pre {
    width: 100%;
    border: 1px solid white;
    text-align: start;
  }
}
