.LiveEditor {
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1vh;
  .EditorContainer {
    font-family: "Dank Mono", "Fira Code", monospace;
    width: 100%;
    border: 1px solid white;
    border-radius: 4px;
    overflow: auto;
    .Editor {
      width: 100%;
    }
  }
  .userType {
    font-family: "Dank Mono", "Fira Code", monospace;
  }
}
